.events__description {
  h1 span,
  h2 span,
  h3 span,
  h4 span,
  h5 span,
  h6 span {
    background-color: transparent !important;
    color: #000 !important;
    font-size: 22px !important;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 600 !important;
  }

  h1 span strong,
  h2 span strong,
  h3 span strong,
  h4 span strong,
  h5 span strong,
  h6 span strong {
    font-weight: 600 !important;
    background-color: transparent !important;
    font-size: 22px !important;
  }

  h1 strong span,
  h2 strong span,
  h3 strong span,
  h4 strong span,
  h5 strong span,
  h6 strong span {
    font-size: 22px !important;
    font-weight: 600 !important;
    background-color: transparent !important;
  }

  p {
    font-size: 16px !important;
    background-color: transparent !important;
  }

  p:first-child {
    padding-top: 0 !important;
  }

  p span {
    font-family: 'Poppins', sans-serif !important;
    background-color: transparent !important;
  }

  p a {
    padding-left: 6px !important;
  }

  p a span strong {
    font-weight: 400 !important;
    font-size: 16px !important;
  }

  p span strong {
    font-weight: 600 !important;
    font-size: 22px !important;
    background-color: transparent !important;
  }

  p:last-child,
  p:last-child span,
  p:last-child strong {
    font-weight: 600 !important;
  }

  strong {
    font-weight: 400 !important;
    background-color: transparent !important;
  }

  figure {
    width: 100% !important;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }
  /* tr:nth-child(even) {
    background-color: #f2f2f2;
  } */

  table,
  th,
  td {
    border: 1px solid;
  }

  table thead tr th {
    padding: 12px !important;
  }

  table tbody tr td {
    padding: 8px 12px !important;
  }
}
