.events__description {
    max-width: 1120px !important;
    margin: 0 auto !important;
  p {
    padding: 0 6px !important;
    margin-bottom: 10px !important;
  }

  p > span {
    color: #2f2e41 !important;
    font-weight: 400 !important;
    font-size: 15px !important;
  }

  p > img {
 
    border-radius: 5px !important;
  }

  figure {
    margin: 20px 0 !important;
   
    table {
      border-collapse: separate !important;
      border-spacing: 5px !important;

      tbody {
        tr {
          td {
            padding: 15px 0 !important;
            border: 1px solid #ddd !important;
            border-radius: 5px !important;
            background-color: white !important;
            
            img {
              border-radius: 5px !important;
              display: block !important;
              max-width: 90% !important;
              height: auto !important;
              margin: 0 auto !important;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 640px) {
    figure {
      margin: 0 !important;
      table {
        tbody {
          tr {
            td {
              border: none !important;
              padding: 0 !important;
            }
          }
        }
      }
    }
  }
}
